<ion-header>
  <ion-toolbar color="title">
    <ion-title>Library Management System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-align-items-center">
  <form #f="ngForm"
        style="height: 100%;"
        (ngSubmit)="onLogin(f)">
    <ion-grid style="height: 100%;"
              class="ion-align-items-center">
      <ion-row style="height:100%;width:100%;"
               class="justify-content-center
               align-items-center">
        <ion-col size-sm="12"
                 size-md="4"
                 class="login_box ion-no-padding">
          <ion-list lines="none">
            <h1 class="text-center">
              <ion-icon name="person"
                        style="font-size: 35px; padding: 10px; background: #736e83; border-radius: 55px; color: #fff;">
              </ion-icon>

              <!-- <span style="padding-top: 5px;"> Login </span> -->
            </h1>
            <br />

            <ion-item class="username"
                      (click)="username.setFocus()"
                      lines="none">
              <ion-label color="secondaryx"
                         position="fixed"
                         style="color: #9085b5;">Username</ion-label>
              <ion-input ngModel
                         name="username"
                         required
                         #username
                         #usernameCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item class="password"
                      (click)="password.setFocus()"
                      lines="none">
              <ion-label color="secondaryx"
                         position="fixed"
                         style="color: #9085b5;">Password</ion-label>
              <ion-input type="password"
                         ngModel
                         name="password"
                         required
                         minlength="1"
                         #password
                         #passwordCtrl="ngModel"></ion-input>
            </ion-item>

            <div class="ion-padding-top">
              <ion-row *ngIf="!usernameCtrl.valid && usernameCtrl.touched"
                       class="text-center">
                <ion-col size-sm="6"
                         offset-sm="3">
                  <p
                     style="margin: 5px;color: #ff9a9a;padding: 8px 15px;background: #444150;border-radius: 6px;border-bottom: 2px solid #926f76;">
                    Please enter a valid username.
                  </p>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
                       class="text-center">
                <ion-col size-sm="6"
                         offset-sm="3">
                  <p
                     style="margin: 5px;color: #ff9a9a;padding: 8px 15px;background: #444150;border-radius: 6px;border-bottom: 2px solid #926f76;">
                    Password should at least be 1 characters long.
                  </p>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="errorMessage != ''"
                       class="text-center">
                <ion-col size-sm="6"
                         offset-sm="3">
                  <p
                     style="margin: 5px;color: #ff9a9a;padding: 8px 15px;background: #444150;border-radius: 6px;border-bottom: 2px solid #926f76;">
                    {{ errorMessage }}
                  </p>
                </ion-col>
              </ion-row>

              <br />

              <button class="login_btn ion-activatable"
                      type="submit"
                      [ngClass]="{ inactive: !f.valid }"
                      [disabled]="!f.valid">
                <ion-ripple-effect></ion-ripple-effect>
                Sign In
              </button>
 
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
 
    </ion-grid>
  </form>

  <!-- <div text-center>
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
</ion-content>
