 ion-col ion-item {
     padding: 0 12px !important;
     // background: #f3f3f3 !important;
     background: #464352 !important;
 }

 ion-content {
     --ion-background-color: #2a2736;
     --ion-background-color: #464255;
 }

 ion-col ion-item.username {
     border-radius: 10px 10px 0 0 !important;
     // border-bottom: 1px solid #dadada !important;
     border-bottom: 1px solid #514e5c !important;
     color: #c4bfd3;
 }

 ion-col ion-item.password {
     border-radius: 0 0 10px 10px !important;
     color: #c4bfd3;
 }

 ion-col ion-item div.item-inner {
     border: 0 !important;
     box-shadow: none !important;
 }

 .login_btn {
     box-shadow: 2px 4px 9px 1px #211f292a !important;
     background: #7c5de4;
     border-radius: 6px;
     //  --background-hover: #2e7d79;
     //  --background-focused: #2e7d79;
     //  --background-activated: #3b716e;

     color: #fff;
     width: 100%;
     display: block;
     font-weight: 400;
     text-transform: capitalize;
     letter-spacing: normal;
     margin-left: 0;
     margin-right: 0;

     height: 65px;
     margin-bottom: 6px;
     font-size: 22px;
     outline: none;
 }

 .login_btn.inactive {
     background: #464352;
     color: #615d72;
     border-radius: 6px;
 }

 ion-list {
     background: none;
 }

 ion-item {
     --background: none;
 }

 .login_box {
     background: #514e5c;
     background: #59546a;
     padding: 40px 26px 10px 26px !important;
     border-radius: 6px;
     // border: 2px solid #d7e7ef;
     box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05);
 }