<ion-header translucent>
  <ion-toolbar color="title">
    <ion-title>{{book?.name}} | {{ meta?.title || ' - '}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close_modal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen
             class="p-3">

  <div *ngIf="meta?.current_user?.has_permission?.ADD_BOOK"
       class="gray text-secondary m-2 p-2 mb-2 rounded"
       style="max-height: 95%; overflow-y: scroll;">

    <!-- {{ meta?.current_user?.has_permission?.ADD_BOOK | json}} -->

    <br>

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">Book Name </ion-label>
      <ion-input pattern="[a-zA-Z0-9 _\-@!&+$]*"
                 [(ngModel)]="form.name"></ion-input>
    </ion-item>

    <br>

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">Genre/Category </ion-label>
      <ion-input pattern="[a-zA-Z0-9_\- ]*"
                 [(ngModel)]="form.genre_cat"></ion-input>
    </ion-item>

    <br>

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">Author </ion-label>
      <ion-input pattern="[a-zA-Z0-9_\- ]*"
                 [(ngModel)]="form.author"></ion-input>
    </ion-item>

    <br>


    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">Publish Date </ion-label>
      <ion-input type="date"
                 [(ngModel)]="form.pub_date"></ion-input>
    </ion-item>



    <br><br><br>



  </div>

</ion-content>

<ion-footer class="text-right bg-secondary p-2">
  <ion-button class="mx-2"
              *ngIf="meta?.mode == 'ADD' && meta?.current_user?.has_permission?.ADD_BOOK"
              (click)="save_book()"
              color="green"> Save Book</ion-button>

  <ion-button class="mx-2"
              *ngIf="meta?.mode == 'EDIT' && meta?.current_user?.has_permission?.EDIT_BOOK"
              (click)="save_book()"
              color="green"> SAVE Book</ion-button>
  <ion-button class=""
              (click)="close_modal()"
              color="medium"> CLOSE </ion-button>


</ion-footer>
