// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  // --ion-color-primary: #3880ff;
  --ion-color-primary: #004e7a;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** blue **/
  // --ion-color-blue: #3880ff;
  --ion-color-blue: #203d58;
  --ion-color-blue-rgb: 30, 45, 59;
  --ion-color-blue-contrast: #ffffff;
  --ion-color-blue-contrast-rgb: 255, 255, 255;
  --ion-color-blue-shade: #497096;
  --ion-color-blue-tint: #67aae9;

  /** title **/
  // --ion-color-title: #3880ff;
  --ion-color-title: #364456;
  --ion-color-title-rgb: 30, 45, 59;
  --ion-color-title-contrast: #ffffff;
  --ion-color-title-contrast-rgb: 255, 255, 255;
  --ion-color-title-shade: #497096;
  --ion-color-title-tint: #67aae9;

  /** title **/
  // --ion-color-title: #3880ff;
  --ion-color-title: #201e2a;
  --ion-color-title-rgb: 32, 30, 42;
  --ion-color-title-contrast: #ffffff;
  --ion-color-title-contrast-rgb: 255, 255, 255;
  --ion-color-title-shade: #4d4a5c;
  --ion-color-title-tint: #a69bdd;

  /** violet **/
  // --ion-color-violet: #3880ff;
  --ion-color-violet: #76718b;
  --ion-color-violet-rgb: 118, 113, 139;
  --ion-color-violet-contrast: #ffffff;
  --ion-color-violet-contrast-rgb: 255, 255, 255;
  --ion-color-violet-shade: #a5a1b4;
  --ion-color-violet-tint: #ada1dd;

  /** secondary **/
  // --ion-color-secondary: #0cd1e8;
  --ion-color-secondary: #08928b;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  //--ion-color-tertiary: #7044ff;
  --ion-color-tertiary: #007ba4;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** green **/
  --ion-color-green: #689F38;
  --ion-color-green-rgb: 104, 159, 56;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255, 255, 255;
  --ion-color-green-shade: #528822;
  --ion-color-green-tint: rgb(137, 199, 83);

  /** orange **/
  --ion-color-orange: #FF9100;
  --ion-color-orange-rgb: 255, 145, 0;
  --ion-color-orange-contrast: #ffffff;
  --ion-color-orange-contrast-rgb: 255, 255, 255;
  --ion-color-orange-shade: rgb(177, 104, 9);
  --ion-color-orange-tint: rgb(233, 178, 107);

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #656565;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #4a4a4d;
  --ion-color-medium-tint: #8b8c8f;

  /** lightgray **/
  --ion-color-lightgray: #e8e8e8;
  --ion-color-lightgray-rgb: 232, 232, 232;
  --ion-color-lightgray-contrast: #424242;
  --ion-color-lightgray-contrast-rgb: 255, 255, 255;
  --ion-color-lightgray-shade: #8d8d8d;
  --ion-color-lightgray-tint: #e9e9e9;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** white **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #757575;
  --ion-color-white-contrast-rgb: 117, 117, 117;
  --ion-color-white-shade: #bdbdbd;
  --ion-color-white-tint: #f7ffe8;
}

:root {
  --ion-background-color: #eee;
  --ion-background-color-rgb: 0, 78, 122;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-color-step-50: #004a74;
  --ion-color-step-100: #00466e;
  --ion-color-step-150: #004268;
  --ion-color-step-200: #003e62;
  --ion-color-step-250: #003b5c;
  --ion-color-step-300: #003755;
  --ion-color-step-350: #00334f;
  --ion-color-step-400: #002f49;
  --ion-color-step-450: #002b43;
  --ion-color-step-500: #00273d;
  --ion-color-step-550: #002337;
  --ion-color-step-600: #001f31;
  --ion-color-step-650: #001b2b;
  --ion-color-step-700: #001725;
  --ion-color-step-750: #00141f;
  --ion-color-step-800: #001018;
  --ion-color-step-850: #000c12;
  --ion-color-step-900: #00080c;
  --ion-color-step-950: #000406;
}


.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
  --ion-color-base-rgb: var(--ion-color-blue-rgb);
  --ion-color-contrast: var(--ion-color-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-blue-shade);
  --ion-color-tint: var(--ion-color-blue-tint);
}

.ion-color-title {
  --ion-color-base: var(--ion-color-title);
  --ion-color-base-rgb: var(--ion-color-title-rgb);
  --ion-color-contrast: var(--ion-color-title-contrast);
  --ion-color-contrast-rgb: var(--ion-color-title-contrast-rgb);
  --ion-color-shade: var(--ion-color-title-shade);
  --ion-color-tint: var(--ion-color-title-tint);
}

.ion-color-violet {
  --ion-color-base: var(--ion-color-violet);
  --ion-color-base-rgb: var(--ion-color-violet-rgb);
  --ion-color-contrast: var(--ion-color-violet-contrast);
  --ion-color-contrast-rgb: var(--ion-color-violet-contrast-rgb);
  --ion-color-shade: var(--ion-color-violet-shade);
  --ion-color-tint: var(--ion-color-violet-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

.ion-color-lightgray {
  --ion-color-base: var(--ion-color-lightgray);
  --ion-color-base-rgb: var(--ion-color-lightgray-rgb);
  --ion-color-contrast: var(--ion-color-lightgray-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lightgray-contrast-rgb);
  --ion-color-shade: var(--ion-color-lightgray-shade);
  --ion-color-tint: var(--ion-color-lightgray-tint);
}

// $colors: (dark-primary: #004e72,
//   green: #689F38,
//   light-primary: #DCEDC8,
//   primary-text: #212121,
//   secondary-text: #757575,
//   tertiary-text: #8d8d8d,
//   accent: #009688,
//   secondary: #009688,
//   primary: #8BC34A,
//   divider: #BDBDBD,
//   text-icons: #FFFFFF,
//   tertiary: #1976d2,

//   orange: #dd2c00,
//   warning: #FF9100,
//   danger: #E53935,
//   medium: #757575,
//   light: #f4f5f8,
//   lighter: #c5cad6,
//   bg: #eee,
//   dark: #0a0a0a,
//   gray: #505050,
//   transparent: rgba(0, 0, 0, 0),
// );

// $background-ios-color: map-get($colors, bg);
// $background-md-color: map-get($colors, bg);





// ion-title {
//   text-transform: uppercase !important;
//   font-weight: 400;
// }

* {
  user-select: none;
  outline: none;
}
.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14) !important;
  border-radius: 6px;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}

.cursor {
  cursor: pointer !important;
}

.loading-wrapper {
  border-radius: 8px !important;
}

.loading-spinner {
  color: #fff !important;
  --background: #3a3a3a;
  --spinner-color: #777777;
}

.d-block {
  display: block !important;
}

.cursor-pointer {
  cursor: pointer !important;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:hover {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  /* margin-right: -15px !important; */
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.13);
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* position: absolute !important;
    right: 20px !important; */
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: all 250ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}



ion-toolbar {
  --min-height: 45px !important;
}

ion-toolbar ion-title {
  font-size: 15px;
  // text-transform: uppercase;
}

ion-header ion-title,
ion-header ion-icon,
ion-header ion-menu-button {
  color: white;
}


ion-content {
  // --ion-background-color: #ffffff;
  --ion-background-color: #403e49;
}

ion-header {
  background: #403e49;
}

.card-shadow {
  box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05);
}


.success {
  color: #fff;
  background-color: #8BC34A;
}

.danger {
  color: #fff;
  background-color: #c34a5e;
  background-color: #a9606c;
}

.light {
  color: #474747;
  background-color: #f8f8f8;
}

.gray {
  color: #474747;
  background-color: #d8d8d8;
}

.info {
  color: #fff;
  background-color: #009688;
}

.accent {
  color: #fff;
  background-color: #009688;
}

.warning {
  color: #fff;
  background-color: #FF9100;
}

.amber {
  color: #fff;
  background-color: #f1cb59;
  background-color: #dfba4c;
  background-color: #b59946;
}

.medium {
  color: #fff;
  background-color: #757575;
}

.dark {
  color: #363636;
  background-color: #f3f3f3;
  // 222428 383a3e
}

.violet {
  color: #e6e6e6;
  background-color: #76718b;
}

.dark_violet {
  color: #e6e6e6;
  background-color: #39344c;
}


.full-rounded {
  border-radius: 85px !important;
}

@keyframes anim_line_y {
  from {
    background-position: 0;
  }

  to {
    background-position: 0 450px;
  }
}

@keyframes anim_line_x_f {
  from {
    background-position: 0;
  }

  to {
    background-position: 450px 0;
  }
}

@keyframes anim_line_x_b {
  from {
    background-position: 450px;
  }

  to {
    background-position: 0px 0;
  }
}

@keyframes move_flight {
  0% {
    // top: 0px;
    transform: rotate(90deg) translateX(0px);
  }

  50% {
    // top: 15px;
    transform: rotate(90deg) translateX(-20px);
  }

  100% {
    // top: 0px;
    transform: rotate(90deg) translateX(0px);
  }
}











ion-item.nav-link-card {
  --background: #f0f0f0;
  --color: #616161;
  --background-hover: #353535;
  --color-hover: #c9c9c9;

  ion-icon {
    color: #747474;
  }

  border-radius: .25rem !important;
  margin: .5rem !important;
}

ion-item.nav-link-card.dark {
  --background: #958fb0;
  --color: #383838;
  --background-hover: #201e2a;
  --color-hover: #c9c9c9;

  ion-icon {
    color: #58546d;
  }

  border-radius: .25rem !important;
  margin: .5rem !important;
}


ion-tab-button.tab-selected {
  background: #514f5d;
}


.arr-icon {
  color: #689f38;
  padding-left: 8px;
  transform: rotate(33deg);
  position: relative;
  top: -3px;
}

.dep-icon {
  color: #b9354b;
  transform: rotate(-33deg);
  position: relative;
  top: -2px;
}


.animated.delay-100ms { 
  animation-delay: 100ms;
}

.animated.delay-150ms { 
  animation-delay: 150ms;
}

.animated.delay-200ms { 
  animation-delay: 200ms;
}

.animated.delay-250ms { 
  animation-delay: 250ms;
}

.animated.delay-300ms { 
  animation-delay: 300ms;
}

.animated.delay-350ms { 
  animation-delay: 350ms;
}

.animated.delay-400ms { 
  animation-delay: 400ms;
}

.animated.delay-450ms { 
  animation-delay: 450ms;
}

.animated.delay-500ms { 
  animation-delay: 500ms;
}

.animated.delay-550ms { 
  animation-delay: 550ms;
}

.animated.delay-600ms { 
  animation-delay: 600ms;
}

.animated.delay-650ms { 
  animation-delay: 650ms;
}

.animated.delay-700ms { 
  animation-delay: 700ms;
}

.animated.delay-750ms { 
  animation-delay: 750ms;
}

.animated.delay-800ms { 
  animation-delay: 800ms;
}

.animated.delay-850ms { 
  animation-delay: 850ms;
}


.split-pane-md.split-pane-visible>.split-pane-side {
  max-width: 18% ;
}
 