<ion-header translucent>
  <ion-toolbar color="title">
    <ion-title>{{book?.name}} | {{ meta?.title || ' - '}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close_modal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen
             class="p-3">

  <div *ngIf="meta?.current_user?.has_permission?.ASSIGN_BOOK"
       class="gray text-secondary m-2 p-2 mb-2 rounded"
       style="max-height: 95%; overflow-y: scroll;">



    <ion-row>

      <ion-col size-xs="12"
               size-md="6">


        <ul class="list-group text-left">
          <li class="list-group-item py-1 list-group-item-action">
            <small class="d-block">
              Name:
            </small>
            <span class=" text-primary font-weight-bold"> {{ book?.name }} </span>
          </li>
          <li class="list-group-item py-1 list-group-item-action">
            <small class="d-block">
              Book ID:
            </small>
            <span class=""> {{ book?._id }} </span>
          </li>
          <li class="list-group-item py-1 list-group-item-action">
            <small class="d-block">
              Author:
            </small>
            <span class=""> {{ book?.author }} </span>
          </li>
          <li class="list-group-item py-1 list-group-item-action">
            <small class="d-block">
              Genre/Category:
            </small>
            <span class=""> {{ book?.genre_cat }} </span>
          </li>
          <li class="list-group-item py-1 list-group-item-action">
            <small class="d-block">
              Publish Date :
            </small>
            <span class=""> {{ book?.pub_date }} </span>
          </li>

          <li class="list-group-item list-group-item-action bg-secondary p-2">

            <ion-row class="p-0">

              <ion-col class="pl-2 mr-2 border-info rounded light">
                <span class="py-1 float-left">
                  Stock :
                </span>
                <span class="float-right px-3 py-1 rounded text-light bg-danger font-weight-bold"
                      style="font-size: 16px;right: 1rem;top: 0.45rem;"> 5 </span>
              </ion-col>


              <ion-col class="pl-2  border-info rounded light">
                <span class="py-1 float-left">
                  Out :
                </span>
                <span class="float-right px-3 py-1 rounded text-light bg-danger font-weight-bold"
                      style="font-size: 16px;right: 1rem;top: 0.45rem;"> 5 </span>
              </ion-col>

            </ion-row>

          </li>






        </ul>


      </ion-col>


      <ion-col size-xs="12"
               size-md="6">



        <ion-item color="light"
                  class="rounded-top">
          <ion-label position="floating">Search User </ion-label>
          <ion-input pattern="[a-zA-Z0-9 _\-@!&+$]*"
                     clearInput
                     (ionChange)="filter_users()"
                     [(ngModel)]="form.user_search"></ion-input>
        </ion-item>





        <ul class="mt-2 list-group text-left">

          <li *ngFor="let user of meta?.user_list"
              (click)="select_user(user)"
              [ngClass]="{'bg-light text-dark': !(user?._id == form?.user_search || user?._id == form?.user_id), 'bg-info text-light': (user?._id == form?.user_search || user?._id == form?.user_id)}"
              class="list-group-item py-1 list-group-item-action">
            <span class="d-block">
              {{ user?.name }}
            </span>
            <small class=""> {{ user?._id }} </small>
          </li>

        </ul>


      </ion-col>

    </ion-row>





    <br>



  </div>

</ion-content>

<ion-footer class="text-right bg-secondary p-2"> 

  <ion-button class="mx-2"
              [disabled]="!form.user_id || is_loading"
              *ngIf="meta?.current_user?.has_permission?.ASSIGN_BOOK"
              (click)="assign_book()"
              color="green"> Assign Book </ion-button>
  <ion-button class=""
              (click)="close_modal()"
              color="medium"> CLOSE </ion-button>


</ion-footer>
