<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content"
              style="    border-color: #565364 !important;"
              type="overlay">
      <ion-header>
        <ion-toolbar color="title">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngIf="meta?.current_user?.has_permission?.M_ACCS_MENU">
          <ion-menu-toggle auto-hide="false">
            

            <ion-item color="violet"
                      class="rounded m-2"
                      *ngIf="meta?.current_user?.has_permission?.M_ACCS_HOME"
                      lines="none"
                      routerLink="/home">
              <ion-icon slot="start"
                        name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>


            <ion-item color="violet"
                      class="rounded m-2"
                      *ngIf="meta?.current_user?.has_permission?.M_ACCS_MYBOOKS"
                      lines="none"
                      routerLink="/my-books">
              <ion-icon slot="start"
                        name="book"></ion-icon>
              <ion-label>My Books</ion-label>
            </ion-item>
            
            
            
            <ion-item color="violet"
                      class="rounded m-2"
                      *ngIf="meta?.current_user?.has_permission?.M_ACCS_BK_SRCH"
                      lines="none"
                      routerLink="/book-search">
              <ion-icon slot="start"
                        name="search"></ion-icon>
              <ion-label> Book Search </ion-label>
            </ion-item>
            
            
            
            <ion-item color="violet"
                      class="rounded m-2"
                      *ngIf="meta?.current_user?.has_permission?.M_ACCS_BOOKS"
                      lines="none"
                      routerLink="/books">
              <ion-icon slot="start"
                        name="bookmarks"></ion-icon>
              <ion-label>Manage Books</ion-label>
            </ion-item>
            
            
            
            <ion-item color="violet"
                      class="rounded m-2"
                      *ngIf="meta?.current_user?.has_permission?.M_ACCS_USERS"
                      lines="none"
                      routerLink="/users">
              <ion-icon slot="start"
                        name="ios-contact"></ion-icon>
              <ion-label>Manage Users</ion-label>
            </ion-item>
            
            
            
            
            <ion-item color="violet"
                      class="rounded m-2"
                      *ngIf="meta?.current_user?.has_permission?.M_ACCS_ROLES_PERMS"
                      lines="none"
                      routerLink="/roles-permissions">
              <ion-icon slot="start"
                        name="key"></ion-icon>
              <ion-label>Roles & Permissions</ion-label>
            </ion-item>


            <ion-item lines="none"
                      class="rounded m-2"
                      color="violet"
                      (click)="logout()">
              <ion-icon slot="start"
                        name="lock"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>


          </ion-menu-toggle>


        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
