<ion-header>
  <ion-toolbar color="title">
    <ion-title>Manage Roles & Permissions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-3">
  <!-- <h3 class="p-3 light m-3 rounded ">
    Manage Roles & Permissions 
  </h3> -->


  <div class="w-100 h-100 align-items-center d-flex"
       *ngIf="!meta?.current_user?.has_permission?.M_ACCS_ROLES_PERMS">
    <div class="p-3 light m-2 rounded text-center w-25 mx-auto">
  
      <h4 class="mt-2 mb-3">
        ACCESS DENIED!
      </h4>
  
      <ion-ripple-effect></ion-ripple-effect>
  
      <div class="reloader text-center">
        <a routerLink="/"
           class="btn btn-warning rounded">
          Go Home
        </a>
      </div>
    </div>
  </div>



  <div class="roles_permissions_page"
       *ngIf="meta?.current_user?.has_permission?.M_ACCS_ROLES_PERMS">


    <ion-row *ngIf="meta?.current_user?.has_permission?.SHOW_USER_ROLE">

      <ion-col size-md="4"
               size-lg="3"
               size-xs="12">

        <ion-card color="medium" class="animated fadeIn fast">

          <ion-card-header>
            <ion-card-title>{{ form.permission.mode }} Permission</ion-card-title>
          </ion-card-header>


          <ion-card-content>

            <div *ngIf="meta?.current_user?.has_permission?.ADD_USER_ROLE"
                 class="gray text-secondary p-2 mb-2 rounded">

              <ion-item color="light"
                        class="rounded-top">
                <ion-label position="floating">Permission Name </ion-label>
                <ion-input pattern="[a-zA-Z0-9_]*"
                           [(ngModel)]="form.permission.value"
                           (keyup)="form.permission.value = formatInput(form.permission.value)"></ion-input>
              </ion-item>

              <div class="pt-2 col-12 p-0">
                <ion-button class="col-6 m-0 p-0 pr-2"
                            [disabled]="is_loading || !form.permission.value"
                            (click)="reset_form('permission')"
                            color="medium"> Reset </ion-button>
                <ion-button class="col-6 m-0 p-0 pl-2"
                            *ngIf="meta?.current_user?.has_permission?.ADD_USER_ROLE"
                            [disabled]="is_loading || !form.permission.value"
                            (click)="save_form('permission')"
                            color="green"> Save </ion-button>
              </div>
            </div>


            <div style="max-height: 50vh; min-height: 50vh; overflow-y: scroll;"
                 class="permission_list">


              <div class="text-center m-4"
                   *ngIf="is_loading">
                <ion-spinner color="light"></ion-spinner>
                <br>
                <p class="text-light">
                  Loading...
                </p>
              </div>

              <div class="card light  px- 3 my-2 rounded"
                   style="overflow: hidden;"
                   *ngFor="let permission of roles_permissions_doc?.permissions">




                <ion-item-sliding #slidingItem
                                  *ngIf="meta?.current_user?.has_permission?.SHOW_USER_ROLE">

                  <ion-item [color]="(form.permission.value == permission)? 'violet': 'light'"
                            class="ion-activatable"
                            lines="none">

                    <ion-ripple-effect></ion-ripple-effect>

                    <ion-label> {{ permission }} </ion-label>

                    <ion-icon slot="end"
                              (click)="slidingItem.open('end')"
                              class="rounded-circle p-1 border bg-light "
                              color="violet"
                              name="create"></ion-icon>
                  </ion-item>



                  <ion-item-options>

                    <ion-item-option *ngIf="meta?.current_user?.has_permission?.EDIT_USER_ROLE"
                                     color="info"
                                     (click)="edit_form('permission', permission, slidingItem)">
                      <ion-icon slot="start"
                                class="pl-2"
                                name="create"></ion-icon>
                      <ion-label class="pl-1 pr-2">Edit</ion-label>
                    </ion-item-option>

                    <ion-item-option color="danger"
                                     *ngIf="meta?.current_user?.has_permission?.DELETE_USER_ROLE"
                                     (click)="delete_item('permission', permission, slidingItem)">
                      <ion-icon class="px-2"
                                name="close-circle-outline"></ion-icon>

                    </ion-item-option>
                  </ion-item-options>


                </ion-item-sliding>





              </div>

            </div>

            <hr class="light">
            <br>

          </ion-card-content>


        </ion-card>

      </ion-col>



      <ion-col size-md="3"
               size-sm="12">

        <ion-card color="medium" class="animated fadeIn">

          <ion-card-header>
            <ion-card-title>{{ form.role.mode }} Role</ion-card-title>
          </ion-card-header>


          <ion-card-content>

            <div *ngIf="meta?.current_user?.has_permission?.ADD_USER_ROLE"
                 class="gray text-secondary p-2 mb-2 rounded">

              <ion-item color="light"
                        class="rounded-top">
                <ion-label position="floating">Role Name </ion-label>
                <ion-input pattern="[a-zA-Z0-9_]*"
                           [(ngModel)]="form.role.value"
                           (keyup)="form.role.value = formatInput(form.role.value)"></ion-input>
              </ion-item>

              <br>

              <ion-item color="light"
                        class="rounded-top">
                <ion-label position="floating">Role Permissions</ion-label>

                <ion-select multiple
                            [(ngModel)]="form.role.role_permissions">
                  <ion-select-option *ngFor="let permission of roles_permissions_doc?.permissions"
                                     [value]="permission">{{ permission }}</ion-select-option>
                </ion-select>
              </ion-item>

              <div class="pt-2 col-12 p-0">
                <ion-button class="col-6 m-0 p-0 pr-2"
                            [disabled]="is_loading || !form.role.value"
                            (click)="reset_form('role')"
                            color="medium"> Reset </ion-button>
                <ion-button class="col-6 m-0 p-0 pl-2"
                            *ngIf="meta?.current_user?.has_permission?.ADD_USER_ROLE"
                            [disabled]="is_loading || !form.role.value"
                            (click)="save_form('role')"
                            color="green"> Save </ion-button>
              </div>
            </div>


            <div style="max-height: 39vh; min-height: 39vh; overflow-y: scroll;"
                 class="role_list">


              <div class="text-center m-4"
                   *ngIf="is_loading">
                <ion-spinner color="light"></ion-spinner>
                <br>
                <p class="text-light">
                  Loading...
                </p>
              </div>

              <div class="card light  px- 3 my-2 rounded"
                   style="overflow: hidden;"
                   *ngFor="let role of roles_permissions_doc?.roles">




                <ion-item-sliding #slidingItem
                                  *ngIf="meta?.current_user?.has_permission?.SHOW_USER_ROLE">

                  <ion-item [color]="(form.role.value == role)? 'violet': 'light'"
                            class="ion-activatable"
                            lines="none">

                    <ion-ripple-effect></ion-ripple-effect>

                    <ion-label> {{ role }} </ion-label>

                    <ion-icon slot="end"
                              (click)="slidingItem.open('end')"
                              class="rounded-circle p-1 border bg-light "
                              color="violet"
                              name="create"></ion-icon>
                  </ion-item>



                  <ion-item-options>

                    <ion-item-option color="info"
                                     *ngIf="meta?.current_user?.has_permission?.EDIT_USER_ROLE"
                                     (click)="edit_form('role', role, slidingItem)">
                      <ion-icon slot="start"
                                class="pl-2"
                                name="create"></ion-icon>
                      <ion-label class="pl-1 pr-2">Edit</ion-label>
                    </ion-item-option>

                    <ion-item-option color="danger"
                                     *ngIf="meta?.current_user?.has_permission?.DELETE_USER_ROLE"
                                     (click)="delete_item('role', role, slidingItem)">
                      <ion-icon class="px-2"
                                name="close-circle-outline"></ion-icon>

                    </ion-item-option>
                  </ion-item-options>


                </ion-item-sliding>





              </div>

            </div>

            <hr class="light">
            <br>

          </ion-card-content>


        </ion-card>

      </ion-col>

    </ion-row>


  </div>









</ion-content>
