<ion-header translucent>
  <ion-toolbar color="title">
    <ion-title>{{ meta?.title || ' - '}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close_modal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen
             class="p-3">
  <!-- <p class="p-3 light m-2 rounded ">
    Settings Page
  </p> -->

  <div class="gray text-secondary m-2 p-2 mb-2 rounded"
       style="max-height: 95%; overflow-y: scroll;">

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">First Name </ion-label>
      <ion-input pattern="[a-zA-Z ]*"
                 [(ngModel)]="form.first_name"
                 (keyup)="form.username = formatInput(form.first_name) "></ion-input>
    </ion-item>

    <br>

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">Last Name </ion-label>
      <ion-input pattern="[a-zA-Z ]*"
                 [(ngModel)]="form.last_name"></ion-input>
    </ion-item>

    <br>

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">Username </ion-label>
      <ion-input readonly
                 pattern="[a-zA-Z_]*"
                 [(ngModel)]="form.username"></ion-input>
    </ion-item>

    <br>

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">User Role</ion-label>
      <ion-select [(ngModel)]="form.role">
        <ion-select-option *ngFor="let role of meta.role_list" [value]="role"> {{ role }} </ion-select-option>
        <!-- <ion-select-option value="LIBRARIAN">LIBRARIAN</ion-select-option>
        <ion-select-option value="READER">READER</ion-select-option> -->
      </ion-select>
    </ion-item>

    <!-- <br>

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">Permissions</ion-label>
      <ion-select multiple interface="popover">
        <ion-select-option value="nes">NES</ion-select-option>
        <ion-select-option value="n64">Nintendo64</ion-select-option>
        <ion-select-option value="ps">PlayStation</ion-select-option>
        <ion-select-option value="genesis">Sega Genesis</ion-select-option>
        <ion-select-option value="saturn">Sega Saturn</ion-select-option>
        <ion-select-option value="snes">SNES</ion-select-option>
      </ion-select>
    </ion-item> -->

    <br>

    <ion-button class=""
                (click)="meta.req_reset_pwd = true; form.password = ''"
                [color]="(meta.req_reset_pwd)? 'green' : 'medium'"> RESET PASSWORD? </ion-button>

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">Password </ion-label>
      <ion-input type="password"
                 [readonly]="meta.mode == 'EDIT' && !meta.req_reset_pwd"
                 [(ngModel)]="form.password"></ion-input>
    </ion-item>

    <br>

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">Email </ion-label>
      <ion-input pattern="[a-zA-Z@.]*"
                 [(ngModel)]="form.email"></ion-input>
    </ion-item>

    <br>

    <ion-item color="light"
              class="rounded-top">
      <ion-label position="floating">Phone </ion-label>
      <ion-input pattern="[+0-9-]*"
                 [(ngModel)]="form.phone"></ion-input>
    </ion-item>


    <br><br><br>



  </div> 

</ion-content>

<ion-footer class="text-right bg-secondary p-2"> 
  <ion-button class="mx-2" 
              (click)="save_user()"
              color="green"> Save </ion-button>
  <ion-button class=""
              (click)="close_modal()"
              color="medium"> CLOSE </ion-button>
 

</ion-footer>
