.databox_label {
    text-align: left;
    display: block;
    width: calc(100% - 4px);
    background: #0000003b;
    margin: 2px;
    border-radius: 5px 5px 3px 3px;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 5px;
    position: relative;
}

.databox {
    border-radius: 6px;
}
.databox_count {
    font-size: 12px;
    font-weight: 400;
    /* color: #fff2f2; */
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.data_danger .databox_label {
    background: #ff90903b !important;
}

.data_danger .databox_count {
    color: #dc3545 !important;
}

.data_danger .databox_body_text {
    color: #e0515e !important;
}

.data_danger .databox_footer_text {
    color: #735658 !important;
}

.data_success .databox_label {
    background: #acd47d7a !important;
}

.data_success .databox_count {
    color: #28a745 !important;
}

.data_success .databox_body_text {
    color: #597e2e !important;
}

.data_success .databox_footer_text {
    color: #7c8374 !important;
}

.data_medium .databox_count,
.data_medium .databox_label,
.data_medium .databox_body_text,
.data_medium .databox_footer_text {
    color: #acacac !important;
}

.data_amber .databox_count,
.data_amber .databox_label,
.data_amber .databox_body_text,
.data_amber .databox_footer_text {
    color: #dcc06d !important;
}

.databox .databox_body_text {
    font-size: 29px;
    line-height: 40px;
    position: relative;
    top: 5px;
}

.databox .databox_footer_text {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 15px;
    display: block;
    position: relative;
}


.databox_dark {
    color: #474747;
    background-color: #302e3a;
}


hr {
    display: block;
    height: 1px;
    width: 100%;
    background: #5d5b6b;
    margin: 0;
}

.range-md .range-knob-handle .range-pin {
    transform: translate3d(0, 0, 0) scale(1);
}

.range-md:not(.range-has-pin) .range-knob-handle .range-knob {
    transform: scale(1);
}

.range-md .range-pin {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}



.databox_dark.data_danger .databox_label {
    background: #ee999963 !important;
    color: #ffffffb8;
}

.databox_dark.data_danger .databox_count {
    color: #ffacb4 !important;
}

.databox_dark.data_danger .databox_body_text {
    color: #f26e7a !important;
}

.databox_dark.data_danger .databox_footer_text {
    color: #ae9d9e !important;
}





.databox_dark.data_success .databox_label {
    background: #acd47d7a !important;
    color: #ffffffb8;
}

.databox_dark.data_success .databox_count {
    color: #dff0e3 !important;
}

.databox_dark.data_success .databox_body_text {
    color: #91ba61 !important;
}

.databox_dark.data_success .databox_footer_text {
    color: #8b9582 !important;
}



/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar:hover {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 250ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
}