<ion-header translucent>
  <ion-toolbar color="title">
    <ion-title>{{book?.name}} | {{ meta?.title || ' - '}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close_modal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen
             class="p-3">



  <div *ngIf="meta?.current_user?.has_permission?.ADD_BOOK"
       class="text-secondary m-2 p-2 mb-2 rounded"
       style="max-height: 93%; overflow-y: scroll;">




    <div class="rounded violet p-1 py-2 m-2 text-center"
         *ngIf="!comments.length">
      <span style="font-size: 17px; color: #b7b0d4;">
        No Comments!
      </span>
    </div>





    <div *ngIf="meta?.current_user?.has_permission?.COMMENT_BOOK"
         class="comment_view">

      <div class="rounded violet p-1 py-2 m-2 text-left"
           *ngFor="let comment of comments">


        <ion-row class="border-botto m pb-0">

          <ion-col class="p-0 px-2"
                   size="auto">
            <span class="d-inline-block m-0 text-warning text-uppercase"
                  style="font-size: 15px;">
              {{comment.comment_by}}
            </span>
          </ion-col>

          <ion-col class="p-0 px-2">
            <ionic4-star-rating activeIcon="ios-star"
                                defaultIcon="ios-star-outline"
                                activeColor="#ffd746"
                                defaultColor="#ccc"
                                readonly="false"
                                [(ngModel)]="comment.rating"
                                fontSize="15px">
            </ionic4-star-rating>
          </ion-col>

        </ion-row>

        <span class="pl-2  "
              style="font-size: 13px; color: #b7b0d4;"> {{ comment.commented_at | date:'dd-MMM-yyyy hh:mm a'}} </span>

        <p class="pl-2 text-light"
           style="font-size: 13px;">
          {{comment.comment}}
        </p>

      </div>

    </div>



  </div>

</ion-content>

<ion-footer class="text-right bg-secondary p-2">

  <ion-item color="light"
            *ngIf="meta?.current_user?.has_permission?.COMMENT_BOOK"
            class="rounded-top">
    <ion-label position="stacked">Comments/Feedback</ion-label>
    <ion-textarea pattern="[a-zA-Z0-9 _\?'-@!&+$]*"
                  [(ngModel)]="form.comment"></ion-textarea>
  </ion-item>

  <ion-row class="align-items-center"
           *ngIf="meta?.current_user?.has_permission?.COMMENT_BOOK">

    <ion-col size="auto"
             class="text-left">


      <ion-label class="text-light font-weight-bold">Rating </ion-label>


    </ion-col>

    <ion-col class="text-left pl-2">

      <ionic4-star-rating #rating
                          activeIcon="ios-star"
                          defaultIcon="ios-star-outline"
                          activeColor="#ffd746"
                          defaultColor="#ccc"
                          readonly="false"
                          [(ngModel)]="form.rating"
                          fontSize="32px">
      </ionic4-star-rating>

    </ion-col>


    <ion-col size-sm="12"
             size-md="6">

      <ion-button class="mx-2"
                  [disabled]="!form.comment.trim()"
                  *ngIf="meta?.current_user?.has_permission?.ADD_BOOK"
                  (click)="save_book()"
                  color="green"> Save Book</ion-button>

      <ion-button class=""
                  (click)="close_modal()"
                  color="medium"> CLOSE </ion-button>


    </ion-col>
  </ion-row>


</ion-footer>
