<ion-header>
  <ion-toolbar color="title">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="w-100 h-100 align-items-center d-flex"
       *ngIf="!meta?.current_user?.has_permission?.M_ACCS_HOME">
    <div class="p-3 light m-2 rounded text-center w-25 mx-auto">
  
      <h4 class="mt-2 mb-3">
        ACCESS DENIED!
      </h4>
  
      <ion-ripple-effect></ion-ripple-effect>
  
      <div class="reloader text-center">
        <a routerLink="/"
           class="btn btn-warning rounded">
          Go Home
        </a>
      </div>
    </div>
  </div>

  <div class="home_page"  *ngIf="meta?.current_user?.has_permission?.M_ACCS_HOME">

    <ion-card class="welcome-card card animated fadeIn fast">
      <ion-row>
  
        <ion-col size-xs="12"
                 size-md="2"
                 class="text-center py-3 pl-3">
          <div class="rounded border">
  
            <ion-avatar class="d-inline-flex p-0 m-4"
                        style="height: 125px; width: 125px;">
              <img src="/assets/avatar.svg"
                   alt="avatar">
            </ion-avatar>
            <span class="d-block"> @{{ user?.username }} </span>
            <h5 class="mt-1"> {{ user?.name }} </h5>
  
          </div>
        </ion-col>
  
        <ion-col size-xs="12"
                 size-md="3"
                 class="text-left py-3 px-3">
  
          <ul class="list-group text-left">
            <!-- <li class="list-group-item list-group-item-action">
              Name: <span class="float-right"> {{ user?.name }} </span>
            </li> -->
            <li class="list-group-item list-group-item-action">
              User ID: <span class="float-right"> {{ user?._id }} </span>
            </li>
            <li class="list-group-item list-group-item-action">
              Username: <span class="float-right"> {{ user?.username }} </span>
            </li>
            <li class="list-group-item list-group-item-action">
              Email ID: <span class="float-right"> {{ user?.email }} </span>
            </li>
            <li class="list-group-item list-group-item-action">
              Phone : <span class="float-right"> {{ user?.phone }} </span>
            </li>
            <li class="list-group-item list-group-item-action">
              Books in Hand : <span
                    class="float-right position-absolute px-3 py-1 rounded text-light bg-danger font-weight-bold"
                    style="font-size: 16px;right: 1rem;top: 0.45rem;"> 5 </span>
            </li>
          </ul>
  
        </ion-col>
  
  
        <ion-col size-xs="0"
                 size-md="7">
          <img src="/assets/shapes.svg"
               alt="" />
        </ion-col>
  
      </ion-row>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Library Management System</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam illo iste itaque odio minus, odit aspernatur
          eaque nemo porro, iure ad nulla molestias molestiae amet natus, nobis vero culpa in!
        </p>
      </ion-card-content>
    </ion-card>
  
    <ion-list lines="none" class="animated fadeIn fast" *ngIf="meta?.current_user?.has_permission?.M_ACCS_MENU">
  
  
  
      <ion-item color="violet"
                class="rounded m-2"
                *ngIf="meta?.current_user?.has_permission?.M_ACCS_MYBOOKS"
                lines="none"
                routerLink="/my-books">
        <ion-icon slot="start"
                  name="book"></ion-icon>
        <ion-label>My Books</ion-label>
      </ion-item>
        


      <ion-item color="violet"
                class="rounded m-2"
                *ngIf="meta?.current_user?.has_permission?.M_ACCS_BK_SRCH"
                lines="none"
                routerLink="/book-search">
        <ion-icon slot="start"
                  name="search"></ion-icon>
        <ion-label> Book Search </ion-label>
      </ion-item>
  

      
      <ion-item color="violet"
                class="rounded m-2"
                *ngIf="meta?.current_user?.has_permission?.M_ACCS_BOOKS"
                lines="none"
                routerLink="/books">
        <ion-icon slot="start"
                  name="bookmarks"></ion-icon>
        <ion-label>Manage Books</ion-label>
      </ion-item>

  
  
      <ion-item color="violet"
                class="rounded m-2"
                *ngIf="meta?.current_user?.has_permission?.M_ACCS_USERS"
                lines="none"
                routerLink="/users">
        <ion-icon slot="start"
                  name="ios-contact"></ion-icon>
        <ion-label>Manage Users</ion-label>
      </ion-item>
  
  
  
  
      <ion-item color="violet"
                class="rounded m-2"
                *ngIf="meta?.current_user?.has_permission?.M_ACCS_ROLES_PERMS"
                lines="none"
                routerLink="/roles-permissions">
        <ion-icon slot="start"
                  name="key"></ion-icon>
        <ion-label>Roles & Permissions</ion-label>
      </ion-item>
  
  
  
  
  
  
    </ion-list>


  </div>
  


</ion-content>
