<ion-header>
  <ion-toolbar color="title">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-3">
  <p class="p-3 light m-2 rounded ">
    Settings Page
  </p> 

</ion-content>
